{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'clothes/css/styles.css'%}" rel="stylesheet" />
</head>

<body>

<header class="bar">
<a href="{% url 'main' %}" class="logo"><img src="{% static 'clothes/images/logo.png'%}"></a>
<a href="{% url 'about' %}" class="a_large"><button>{% trans "О нас" %}</button></a>

<div class="lang_button">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
    </form>
</div>
</header>



{% block content %}

{% endblock %}



</body>
</html>