{% extends 'clothes/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<header class="cat_link_bar">
    <ul>
        {% for c in catigories %}
	        {% if c.pk == cat_id %}
	        	<li class="selected">{{c.name}}</li>
	        {% else %}
	        	<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
	        {% endif %}
        {% endfor %}
    </ul>
</header>

<div class="digrid">
    {% for p in clothes %}
    <a href="{{ p.get_absolute_url }}" class="aitem">
        <div class="ditem">
            <p>{{ p.title }}</p>
            {% if p.photo %}
                <p><img src="{{p.photo.url}}" class="dimg"></p>
            {% endif %}
            <p>{{ p.content|truncatewords:20 }}</p>
            <p>{{ p.price }}</p>
        </div>
    </a>
    {% endfor %}
</div>



{% endblock %}